html, body {
    margin: 0;
    padding: 0;
}

body {
    background: black;
}

canvas {
    display: block;
}

h2 {
    color: #0F0;
    text-align: center; 
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}